/* Style for assignment 2 */
body{
    box-sizing: border-box;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 14px;
}

.menuTitle{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.Container{
    width: 90%;
    margin: 0 auto;
}

.mainContainer{
    margin: 13px;
    width: 30%;
    float: left;
    padding-left: 10px;
    text-align: left;
    border: 1px solid;
    background-color: #999999;
}

.divTitle{
    font-weight: bold;
    border: 1px solid black;
    border-right-color: transparent;
    border-top-color: transparent;
    text-align: center;
    float: right;
    right: 0;
    padding: 2%;
    width: 94px;
}

#div1 .divTitle{
    background-color: #D59898;
}
#div2 .divTitle {
    color: white;
    background-color: #C14543;
}
#div3 .divTitle {
    background-color: #E5D198;
}

.info{
    margin-top: 15%;
    margin-bottom: 8%;
}

@media only screen and (max-width: 767px) {
    .mainContainer{
        width: 87% !important;
    }
}

@media only screen and (min-width:768px) and (max-width:991px){

.mainContainer{
    width: 44% !important;
}
    #div3{
        clear: both !important;
        width: 93% !important;
    }
   
}
